In [1]:
#Ejercicio2
#El objetivo es crear un dataframe con las ventas de nuestras 3 oficina para los meses de enero, febrero y marzo.
#Pasos a seguir:
#Crea una variable "ventas_enero" que contenga una lista de 3 numeros enteros aleatorios entre 100 y 500
#Crea una variable "ventas_febrero" que contenga una lista de 3 numeros enteros entre 100 y 500
#Crea una variable "ventas_marzo" que contenga una lista de 3 numeros enteros aleatorios entre 100 y 500
#Crea una variable "filas" que contenga esta lista de palabras: Las ventas
#Crea una variable "columnas" que contenga una lista de palabras: 'oficina_1','oficina_2','oficina_3'
#Crea una variable "ventas" que contenga una lista con los valores de ventas de enero, febrero y marzo
#Crea una variable "dataframe" que contenga las ventas, filas, y columnas
#Mediante "print" muestra el valor de "Las ventas de enero para la oficina_1 son de ..."

In [2]:
import pandas as pd
import numpy as np

In [7]:
ventas_enero = np.random.randint(100,500,3)
ventas_febrero = np.random.randint(100,500,3)
ventas_marzo = np.random.randint(100,500,3)

In [8]:
filas = ['ventas_enero','ventas_febrero','ventas_marzo']

In [9]:
columnas = ['oficina_1','oficina_2','oficina_3']

In [10]:
ventas = [ventas_enero, ventas_febrero, ventas_marzo]

In [13]:
dataframe = pd.DataFrame(ventas,filas,columnas) #DATOS, FILAS, COLUMNAS
dataframe

                oficina_1  oficina_2  oficina_3
ventas_enero          184        354        340
ventas_febrero        275        346        293
ventas_marzo          123        162        198

In [17]:
dato = dataframe['oficina_1']['ventas_enero'] #Primero fila luego columna

In [18]:
print("Las ventas de enero para la oficina_1 son de {}".format(dato))

Las ventas de enero para la oficina_1 son de 184